.btn {
    border: 0;
    border-radius: .15em;
    padding: .4em 1em;
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    &.btn-{
        &primary {
            @include bgColorAndHover($primary);
        }
        &secondary {
            @include bgColorAndHover($secondary);
        }
        &dark {
            @include bgColorAndHover($dark);
        }
        &light {
            @include bgColorAndHover($light);
        }
    }
}

