.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $light;
    padding: 2.6em;
    border-radius: 0.3em;
    width: 50vw;
    max-width: 500px;
    @include breakpoint-down(700px) {
        width: 90%;
        padding: 2.6em 5vw;
    }

    > form {
        display: flex;
        flex-direction: column;
        gap: .2em;

        > div {
            display: flex;
            flex-direction: column;
        }
    }
}
