.navbar {
    position: fixed;
    padding: 1.5rem;
    width: 100vw;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 75%);

    display: inline-flex;
    justify-content: space-between;

    font-weight: 600;

    .logoWrapper {

    }

    .nav {
        ul {
            margin: 0;
            padding: 0;

            display: inline-flex;
            gap: 1em;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: $light;
                    transition: color .2s ease-in-out;
                    text-transform: uppercase;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}
